*{
  box-sizing: border-box
}

.singleParty {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

.party-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}