*{
  box-sizing: border-box
}

.singleParty {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

.party-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  margin: 40px;
}

.partyText {
  text-decoration: none;
  color: black;

}

.navLink {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-size: 20px;
}